/* CSS file for course styling */

/* Main container styling */
.course-container {
    border: 1px solid #e0e0e0;
    padding: 15px;
    margin: 20px auto; 
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%; 
    max-width: 1200px; 
  }
  
  /* Course title styling */
  .course-number {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
  }
  
  /* Course credits badge styling */
  .course-credits {
    background-color: #4CAF50;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
  }


  /* Styling for catalog number, term, campus, and description */
  .course-title,
  .course-term,
  .course-campus,
  .course-description {
    font-size: 14px;
    margin: 5px 0;
    color: #666;
  }
  
  /* Emphasis for additional text */
  strong {
    color: #000000;
    font-weight: bold;
  }
  
  /* Adjust spacing between paragraphs within the course container */
  .course-container p {
    margin: 8px 0;
  }
  
  .footer {
    margin-bottom: 70px;
  }


  .pagination-container {
    text-align: center; /* Centers the navigation links */
  }
  
  .pagination-container nav {
    display: inline-block; /* Makes the pagination nav take only as much space as needed */
  }

  .pagination-container a {
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 8px 16px;
    margin: 0px 10px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .pagination-container a.current {
    background-color: #78ca8b;
  }

