<div>
    <%# user shouldn't be able to view this page at all if not signed w/ devise but just in case there is an if statement #%>
    <% if !user_signed_in? %>
        <p>Please sign in.</p>
    <% elsif !current_user.approved? %>
        <p>Your account must be approved by an administrator before you can access the website.</p>
    <% else %>
        <h1>Home</h1>
        <p>Your role is: <%= current_user.role %></p>

        <% if current_user.admin? %>
            <%= link_to "Admin Reload Db Page", admin_reload_path, method: :get %>
            <br />
            <%= link_to "Admin Approve Users Page", admin_path, method: :get %>
        <% end %>


        <p>This is where the course table will go (I think)<p>
        
    <% end %>
</div>